<%- include('../../partials/head.ejs') %>

<body>
  <%- include('../../partials/navbar.ejs') %>
  
    <section class="container">
      <hr>
      <h2>Artigos</h2>
      <a href="/admin/articles/new" class="btn btn-success">
        Criar Novo Artigo
      </a>
      <hr>

      <table class="table ">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(article => { %>
            <tr>
              <td><%= article.id %></td>
              <td><%= article.title %></td>
              <td><%= article.slug %></td>
              <td><%= article.categoria.title  %></td>
              <td>
                <form action="/admin/articles/delete" method="POST" style="display: inline;" onsubmit="confirmDeleteCategory(event)">
                  <input type="hidden" name="id" value="<%= article.id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
            </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>

    <script>
      function confirmDeleteCategory(event) {
        event.preventDefault();
        console.log('O formulario nao foi enviado.')
        const confirmCategory = confirm('Deseja deletar este artigo?')

        if(confirmCategory) {
          event.target.submit();
        } 

      }
    </script>
</body>

<%- include('../../partials/footer.ejs') %>