<%- include('../../partials/head.ejs') %>

  <body>
    <%- include('../../partials/navbar.ejs') %>
      <section class="container">

        <div class="card">
          <div class="card-header">
            <h2>Novo artigo</h2>
          </div>
          <div class="card-body">
            <form action="/admin/articles/save" method="POST">

              <label for="title">Titulo</label>
              <input class="form-control mb-4" type="text" name="title" placeholder="Define o titulo do artigo" id="title">

              <label for="selectCategory">Categoria</label>
              <select 
                class="form-control mb-4" 
                name="categoryID" 
                id="selectCategory" 
                style="display: block;"
              >
                <option value=""> --- </option>
                <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%= category.title %></option>
                <% })%>
              </select>

              <label for="body">Texto</label>
              <textarea 
                class="form-control mb-4" 
                name="body" 
                id="mytextarea" 
                cols="30" 
                rows="10"
                placeholder="Escreve o seu artigo aqui.">
              </textarea>

              <button type="submit" class="btn btn-success mt-4">Atualizar</button>
            </form>
          </div>
        </div>
      </section>

  </body>
  <%- include('../../partials/footer.ejs') %>