<%- include('../../partials/head.ejs') %>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    
      <section class="container">
        <hr>
        <h2>Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Nova Categoria</a>
        <hr>

        <table class="table ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Titulo</th>
              <th>Slug</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(category=> { %>
              <tr>
                <td>
                  <%= category.id %>
                </td>
                <td>
                  <%= category.title %>
                </td>
                <td>
                  <%= category.slug %>
                </td>
                <td>

                  <a href="/admin/categories/update/<%= category.id %>" class="btn btn-warning">Editar</a>

                  <form action="/admin/categories/delete" method="POST" style="display: inline;" onsubmit="confirmDeleteCategory(event)">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button class="btn btn-danger">Deletar</button>
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </section>

      <script>
        function confirmDeleteCategory(event) {
          event.preventDefault();
          console.log('O formulario nao foi enviado.')
          const confirmCategory = confirm('Deseja deletar essa categoria?')

          if(confirmCategory) {
            event.target.submit();
          } 

        }
      </script>
  </body>

  <%- include('../../partials/footer.ejs') %>